$main_color: #ffffff;

html, body {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans";
}

.form-search {
  width: 100%;
  padding: 10px 10px 0px 10px;
  border: none;
  border-bottom: 1px solid silver;
  font-size: 26px;
  font-family: Roboto;
}

.movie {
  color: black;
}

.movie img {
  width: 100%;
}

.movie p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 50px;
}
